side-title()
    font-size:1rem;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 500;
    color: #20a0ff;
    box-sizing: border-box;
submitButton()
    margin-top:0.8rem;
    text-align:right;
    margin:0.8rem auto 0;
clearFix()
    &:after
        display: block
        content: "."
        height: 0
        line-height: 0
        clear: both
        visibility: hidden
//处理超出文本方法
// ellipsis()
//   overflow: hidden
//   white-space: nowrap
//   text-overflow: ellipsis